<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="landing_page.css">
    <title>Lambda Lab Reservation</title>
</head>

<body>
    <main>
        <section id="header">
            <h1> &#411; Lambda Hub</h1>
            <a href="../login_&_register_page/login.html"><button>Login</button></a>
        </section>
        <section>
            <img id="lab-image" src="../../public/Assets/lab.png" alt="laboratory">
        </section>
        <section id="view-labs">
            <a href="../reservation_page/reservation.html"><button>View Labs</button></a>
        </section>
    </main>
</body>

</html>