<header>
    <h1>&#411; Lambda Lab Hub</h1>
    <nav>
        <input type="text" placeholder="Search..">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Log In</a>
    </nav>
</header>
