{{!-- Extend the main layout --}}
{{!-- This ensures the header and nav are consistent --}}
{{!-- The content below will be inserted into {{{body}}} in main.hbs --}}

<section id="header">
    <h1>&#411; Lambda Hub</h1>
    <a href="/login"><button>Login</button></a>
</section>

<section>
    <img id="lab-image" src="/Assets/lab.png" alt="laboratory">
</section>

<section id="view-labs">
    <a href="/reservation"><button>View Labs</button></a>
</section>
