{{!-- Extend the main layout --}}
{{!-- This ensures the header and nav are consistent --}}
{{!-- The content below will be inserted into {{{body}}} in main.hbs --}}

<section id="header">
    <h1>&#411; Lambda Hub</h1>
    {{#if user}}
    <a href="/profile"><button>Profile</button></a>
    {{else}}
        <a href="/login"><button>Login</button></a>
    {{/if}}
</section>

<section>
    <img id="lab-image" src="/Assets/lab.png" alt="laboratory">
</section>

<section id="view-labs">
    {{#if user}}
    <a href="/reservation"><button id="view-labs-btn">View Labs</button></a>
    {{else}}
    <button id="view-labs-btn">View Labs</button>
    {{/if}}
</section>

<script src="/frontendJS/landing.js"></script>