{{!-- login.hbs --}}
    <section id="form-container" class="center-items">
        <form action="/login" method="POST" class="center-items">
            <h1>Welcome back!</h1>
             {{#if error}}
            <div class="error-message">
                {{error}}
            </div>
            {{/if}}
            <input type="email" name="email" id="email" placeholder="Email Address" class="text" required>
            <input type="password" name="password" id="password" placeholder="Password" class="text" required>
            <div id="checkbox-container">
                <input type="checkbox" id="checkbox">
                <label for="checkbox">Remember me</label>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register Here!</a></p>
    </section>
    <script src="/frontendJS/login.js"></script>
