<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/profile_styles.css">
    <title>Lambda Lab Profile</title>
</head>

<body>
<header>
    <h1>&#411; Lambda Lab Hub</h1>
    <nav>
        <input type="text" placeholder="Search..">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Log In</a>
    </nav>
</header>

<main>
    <!-- Profile Section -->
    <section id="profile-section">
        <div id="profile-card">
            <div id="profile-image"></div>
            <div id="profile-info">
                <h2>{{user.name}}</h2>
                <textarea id="description" rows="5" style="width: 100%; font-size: 1.2em; border-radius: 0.5em; padding: 0.5em; border: 1px solid #ccc; resize: none;">
                    {{user.bio}}
                </textarea>
            </div>
        </div>
        <form action="/profile" method="POST">
            <button type="submit" id="edit-button">Save Edits</button>
        </form>
    </section>
</main>
</body>

</html>
