body {
    background-color: #EDDAC9;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    width: 100%;
    height: 4.5em;
    border-radius: 0 0 1.5em 1.5em;
    background-color: #0C0E23;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    align-items: center;
}

/* Reservation Panel (picking time, date, etc) */
#reservation-container {
    width: 20%;
    height: 95%;
}

#reservation-forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reservation-forms > div {
    background-color: #A92231;
    width: 80%;
    margin: .5em 0;
    padding: 10px 0;
    border-radius: 1em;
    box-sizing: border-box;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.477);

    color: white;
    font-size: 1.2em;
    text-align: center;
    font-family: krona one;
}

#reservation-forms #venue-panel {
    height: 20%;
    flex-grow: 0.5;
}

#reservation-forms #date-panel {
    height: 20%;
    flex-grow: 2.5;
}

#reservation-forms #time-panel {
    height: 10%;
    flex-grow: .5;
}

#reservation-forms button {
    width: 30%;
    height: 5%;
    border: 0;
    margin: 1em 0;
    border-radius: 1em;
    background-color: #0C0E23;
    
    color: white;
    font-size: .5em;
    font-family: krona one;
}

/* Reservation Display (Seats etc) */
#reservation-display {
    width: 60%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#information-display {
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#information-display div{
    width: 100%;
    height: 40%;
    color: white;
    padding: 0.3em 0;
    text-align: center;
    font-size: 2em;
    font-family: krona one;
    background-color: #0C0E23;
    border-radius: 0.8em;
    box-sizing: border-box;
}

#information-display #date-display,
#information-display #time-display {
    height: 35%;
    width: 45%;
    font-size: 1.5em;
}

/*  contains seats and whiteboard*/
#seat-container {
    width: 100%;
    height: 70%;
    border-radius: 2em;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#whiteboard {
    background-color: #A92231;
    width: 90%;
    height: 8%;
    border-radius: 1em;

    color: #EDDAC9;
    padding-top: 5px;
    font-size: 1.3em;
    font-family: krona one;
    text-align: center;
}

#seat-layout {
    width: 90%;
    height: 75%;
}

#seat-layout #seat-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

#seat-form .column {
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(9, 1fr);    
    grid-auto-flow: column;
    place-items: center;
    grid-gap: 4px;

}

#seat-form input {
    width: 75%;
    height: 85%;
    border: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.194);
    background-color: #D9D9D9;
    border-radius: 2em;
    transition: transform .25s ease-in-out, background-color .25s ease-in-out;
}

#seat-form input:hover {
    transform: translateY(-2px);
    background-color: #cce4f0;

}

/* legend (below the seat display) */
#legend {
    width: 100%;
    height: 7%;
    background-color: white;
    border-radius: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#legend div {
    width: 150px;
    height: 80%;
    font-family: krona one;
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#legend input {
    width: 50px;
    height: 75%;
    border: 0;
    background-color: #D9D9D9;
    border-radius: 2em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.194);
}

#legend #unavailable {
    background-color: gray;
}

#legend #selected {
    background-color: #68BEE6;
}





