body {
    background-color: #EDDAC9;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    width: 100%;
    height: 5em;
    border-radius: 0 0 1.5em 1.5em;
    background-color: black;
}

main {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 89vh;
    align-items: center;
}

/* Reservation Panel (picking time, date, etc) */
#reservation-panel {
    width: 30%;
    height: 95%;
    border: 1px black solid
}

#reservation-forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reservation-forms section {
    background-color: #A92231;
    width: 65%;
    margin: .5em 0;
    padding: 10px 0;
    border-radius: 1em;
    box-sizing: border-box;

    color: white;
    font-size: 1.2em;
    text-align: center;
    font-family: krona one;
}

#reservation-forms #venue {
    height: 20%;
    flex-grow: 0.5;
}

#reservation-forms #date {
    height: 20%;
    flex-grow: 2.5;
}

#reservation-forms #time {
    height: 10%;
    flex-grow: .5;
}

#reservation-forms button {
    width: 35%;
    height: 5%;
    border: 0;
    margin: 1em 0;
    border-radius: 1em;
    background-color: black;
    

    color: white;
    font-size: .5em;
    font-family: krona one;
}

/* Reservation Display (Seats etc) */
#reservation-display {
    background-color: green;
    width: 60%;
    height: 95%;
}

