body {
    background-color: #EDDAC9;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    width: 100%;
    height: 5em;
    border-radius: 0 0 1.5em 1.5em;
    background-color: black;
}

main {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 89vh;
    align-items: center;
}

#reservation-panel {
    background-color: blue;
    width: 30%;
    height: 95%;
}

#reservation-forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#reservation-forms section {
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    border: 1px black solid;
}

#reservation-display {
    background-color: green;
    width: 60%;
    height: 95%;
}

